body, html {
  margin: 0;
  margin-top: 50px;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-color: #f0f0f0;
  text-align: center;
}

.formulario {
  width: 100%;
  max-width: none;
  padding: 20px;
  box-sizing: border-box;
  background-color: white;
}

.form-group, .form-group-direccion {
  margin-bottom: 15px;
  text-align: left;
}

label {
  display: block;
  margin-bottom: 5px;
  font-size: 12px;
  color: #576FFF;
}

input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #D3D9FF;
  box-sizing: border-box;
  font-size: 12px;
}

.nuevocliente {
  width: 100%;
  margin-bottom: 20px;
  padding: 10px;
  background-color: #576FFF;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 12px;
}

.button-container {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

button {
  width: 48%;
  padding: 10px;
  background-color: #576FFF;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 12px;
}

button:hover {
  background-color: #03137b;
}

.guiones {
  text-align: center;
  margin: 15px 0;
  color: #888;
}

nav {
  padding: 0.5rem;
  
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline;
  margin-right: 1rem;
}
a {
  text-decoration: none;
  color: #576FFF;
}

.textoNav {
  text-decoration: none;
  color: white
}